*{margin: 0; padding 0;}
li {list-style:none;}
img {border:0;}
a {text-decoration: none; color:inherit;}

header{width: 100%; height: 55px; background-color: #D9C9C7; display: flex; justify-content: center; align-items: center;}

nav{width: 100%; height: 45px; background-color: #193C40; display: flex; justify-content: center; align-items: center;}

.menu {width: 1024px; display: flex; align-items: center;}

nav > .menu > ul {overflow: hidden;}
nav > .menu > ul li {float: left; margin: 0px 75px; font-family: 'Noto Sans KR', sans-serif; font-size: 18px; font-weight: 300; letter-spacing: -1.5px; color: #F2E4E4;}
nav > .menu > ul > li > a {color: #F2E4E4;}
nav > .menu > ul > li > a:hover {color: #8C8080;}

/*Index 페이지 CSS*/

#bg1 {
  width:100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-image: url('img/index_main01.png');}

#bg2 {
  width:100%;
  height:600px;
  background-color:#D9C9C7;}

.bg2_con {}

.bg2_con .bg2_movie {
  width:700px;
  height:400px;
  float: left;
  padding-left: 260px;
  padding-top: 100px;}

.bg2_img {
  width:552px;
  height:90px;
  float: left;
  padding-bottom:30px;
  padding-top: 100px;}

.bg2_img .bg2_img_text_01 {
  width:300px;
  height:50px;
  font-size:45px;
  color: #193C40;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom:8px;
  padding-left:55px;
  float:left;}

.bg2_img .bg2_img_text_02 {
  width: 300px;
  height:50px;
  font-size:18px;
  color: #193C40;
  font-family: 'Noto Sans KR', sans-serif;
  padding-left:55px;
  float:left;}

.bg2_text_box {width: 450px; height: 160px; overflow:hidden; padding-left:55px;
filter: drop-shadow(0px 3px 3px #8C8080);
}

.bg2_text {
  width: 430px;
  height: 160px;
  float:left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15.5px;
  color: #193C40;
  background-color: #fff;}

.bg2_text .bg2_text_01 p {text-align: left; padding-bottom: 20px; padding-top:15px; padding-left:15px; font-weight: 600;}
.bg2_text .bg2_text_02 p {text-align: left; padding-left:15px;}


.bg2_button {
  width: 190px;
  height:40px;
  border:3px solid #193C40;
  float:left;
  text-align:center;
  font-family: 'Noto Sans KR', sans-serif;
  color: #193C40;
  font-size: 18px;
  padding-top: 10px;
  margin-left:290px;
  margin-top:60px;}

.bg2_button:hover {background-color:#193C40; color:#D9C9C7;}

#bg3 {width:100%; height:700px; background-size: cover; background-position: center; background-image: url('img/index_main02.png');}
#bg4 {width:100%; height:700px; background-size: cover; background-position: center; background-image: url('img/index_main03.png');}
#bg5 {width:100%; height:700px; background-size: cover; background-position: center; background-image: url('img/index_main04.png');}
#bg6 {width:100%; height:700px; background-size: cover; background-position: center; background-image: url('img/index_main06.png');}

/*sub01 페이지 CSS*/

#sub01_pro {width:1280px; display: block; margin:0 auto; overflow:hidden;}
.sub01_pro {width:1024px; height:450px; padding-top:75px; margin:0 auto;}
.sub01_pro_nev_text {width:570px; float:right; font-family: 'Noto Sans KR', sans-serif; color:#193C40;}
.sub01_pro_nev_text_01 {width:310px; font-size:40px; padding-bottom:5px; font-weight: 700; line-height:45px;}
.sub01_pro_nev_text_02 {width:210px; font-weight:500px; padding-bottom:30px; font-size:18px; font-weight:500;}
.sub01_pro_nev_text_03 {width:550px; font-size:15px;}

.sub01_pro_button {width:195px; height: 40px; background-color:#193C40; color:#D9C9C7; text-align:center; font-family: 'Noto Sans KR', sans-serif; font-size: 18px;
float:right; padding-top:10px; border-radius:30px; margin-top:88px;}
.sub01_pro_button:hover {background-color:#D9C9C7; color:#193C40;}

.sub01_pro_art_01 {width:1024px; padding-top:130px; margin:0 auto; padding-bottom:24px; text-align:center;}
.sub01_pro_art_01 img {margin-right:20px; filter: drop-shadow(0px 3px 3px #C4C4C4);}
.sub01_pro_art_01 img:last-child {margin-right:0px;}

.sub01_pro_art_02 {width:1024px; margin:0 auto; padding-bottom:24px; text-align:center;}
.sub01_pro_art_02 img {margin-right:18px; filter: drop-shadow(0px 3px 3px #C4C4C4);}
.sub01_pro_art_02 img:last-child {margin-right:0px;}

.sub01_pro_art_03 {width:1024px; margin:0 auto; padding-bottom:24px; text-align:center;}
.sub01_pro_art_03 img {margin-right:10px; filter: drop-shadow(0px 3px 3px #C4C4C4);}
.sub01_pro_art_03 img:last-child {margin-right:0px;}

.sub01_pro_art_04 {width:1024px; margin:0 auto; padding-bottom:24px; text-align:center;}
.sub01_pro_art_04 img {filter: drop-shadow(0px 3px 3px #C4C4C4);}

.sub01_text {width:1024px; margin:0 auto; text-align:center; padding-top:50px; padding-bottom:100px; font-family: 'Noto Sans KR', sans-serif; font-size: 18px; line-height:30px; color:#193C40;}
.sub01_text_01 {font-weight:600; font-size:20px;}

/*sub02 페이지 CSS*/

.sub02_text {height:55px; margin:0 auto; text-align: center; background-color:#8C8080; padding-top:20px;}
.sub02_text p {height:40px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:23px; font-weight:500;}

#sub02_fuse {width:1280px; display: block; margin:0 auto; text-align:center;}
.sub02_img_01 {padding-top: 60px; padding-bottom:45px;}
.sub02_img_01 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub02_img_02 {padding-bottom:45px;}
.sub02_img_02 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub02_img_03 {padding-bottom:45px;}
.sub02_img_03 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub02_img_04 {padding-bottom:45px;}
.sub02_img_04 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub02_img_05 {margin:0 auto; text-align:center; padding-bottom:50px;}
.sub02_img_05 img {filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub02_img_06 {margin:0 auto; text-align:center; padding-bottom:100px;}
.sub02_img_06 img {filter: drop-shadow(0px 6px 6px #C4C4C4);}


/*sub03 페이지 CSS*/

.sub03_text {height:55px; margin:0 auto; text-align: center; background-color:#8C8080; padding-top:20px;}
.sub03_text p {height:40px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:23px; font-weight:500;}

#sub03_theface {width:1280px; display: block; margin:0 auto; text-align:center;}
.sub03_img_01 {padding-top: 60px; padding-bottom:45px;}
.sub03_img_01 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub03_img_02 {padding-bottom:45px;}
.sub03_img_02 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub03_img_03 {padding-bottom:45px;}
.sub03_img_03 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}

.sub03_img_04 {padding-bottom:100px;}
.sub03_img_04 img {padding-left:35px; filter: drop-shadow(0px 6px 6px #C4C4C4);}


/*sub04 페이지 CSS*/

#sub04_interview {width:1280px; display: block; margin:0 auto; text-align: center;}
.sub04_01 {height: 205px; background-image: url('img/sub04_ballon_01.png'); background-repeat: no-repeat; background-position:center; margin-top:80px; margin-bottom: 35px;}
.sub04_int_01 {width:690px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:20px; text-align: left; padding-left:300px; padding-top:25px;}

.sub04_01_img {margin:0 auto; text-align:center; padding-bottom:45px;}
.sub04_01_img img {filter: drop-shadow(0px 6px 6px #C4C4C4); padding-right:15px;}

.sub04_02 {height: 218px; background-image: url('img/sub04_ballon_02.png'); background-repeat: no-repeat; background-position:center; margin-top:80px;}
.sub04_int_02 {width:715px; font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:20px; text-align: left; padding-left:300px; padding-top:40px;}

.sub04_03 {height: 200px; background-image: url('img/sub04_ballon_03.png'); background-repeat: no-repeat; background-position:center; margin-top:80px; background-position:left; margin-left:160px;}
.sub04_int_03 {width:310px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:20px; text-align: left; padding-left:150px; padding-top:45px;}

.sub04_04 {height: 418px; background-image: url('img/sub04_ballon_04.png'); background-repeat: no-repeat; background-position:center; margin-top:80px;}
.sub04_int_04 {width:720px; font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:20px; text-align: left; padding-left:300px; padding-top:40px;}
.int_04_text {font-size: 25px; padding-bottom:30px; font-weight:600;}

.sub04_05 {height: 203px; background-image: url('img/sub04_ballon_05.png'); background-repeat: no-repeat; background-position:center; margin-top:80px; background-position:left; margin-left:160px;}
.sub04_int_05 {width:440px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:20px; text-align: left; padding-left:150px; padding-top:38px;}

.sub04_06 {height: 268px; background-image: url('img/sub04_ballon_06.png'); background-repeat: no-repeat; background-position:center; margin-top:80px;}
.sub04_int_06 {width:690px; font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:20px; text-align: left; padding-left:300px; padding-top:40px;}

.sub04_07 {height: 200px; background-image: url('img/sub04_ballon_07.png'); background-repeat: no-repeat; background-position:center; margin-top:80px; margin-bottom: 35px; background-position:left; margin-left:160px;}
.sub04_int_07 {width:550px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:20px; text-align: left; padding-left:150px; padding-top:40px;}

.sub04_02_img {margin:0 auto; text-align:center; padding-bottom:45px;}
.sub04_02_img img {filter: drop-shadow(0px 6px 6px #C4C4C4); padding-right:23px;}

.sub04_08 {height: 316px; background-image: url('img/sub04_ballon_08.png'); background-repeat: no-repeat; background-position:center; margin-top:80px;}
.sub04_int_08 {width:685px; font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:20px; text-align: left; padding-left:300px; padding-top:35px;}

.sub04_09 {height: 190px; background-image: url('img/sub04_ballon_09.png'); background-repeat: no-repeat; background-position:center; margin-top:80px; margin-bottom: 35px; background-position:left; margin-left:160px;}
.sub04_int_09 {width:680px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:20px; text-align: left; padding-left:150px; padding-top:35px;}

.sub04_10 {height: 312px; background-image: url('img/sub04_ballon_10.png'); background-repeat: no-repeat; background-position:center; margin-top:80px;}
.sub04_int_10 {width:705px; font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:20px; text-align: left; padding-left:300px; padding-top:35px;}

.sub04_11 {height: 195px; background-image: url('img/sub04_ballon_11.png'); background-repeat: no-repeat; background-position:center; margin-top:80px; margin-bottom: 35px; background-position:left; margin-left:160px;}
.sub04_int_11 {width:720px; font-family: 'Noto Sans KR', sans-serif; color:#D9C9C7; font-size:20px; text-align: left; padding-left:150px; padding-top:50px;}

.sub04_12 {height: 318px; background-image: url('img/sub04_ballon_12.png'); background-repeat: no-repeat; background-position:center; margin-top:80px; margin-bottom:100px;}
.sub04_int_12 {width:645px; font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:20px; text-align: left; padding-left:300px; padding-top:35px;}
.int_12_text {font-size: 25px; padding-top:30px; font-weight:600;}

/*sub05 페이지 CSS*/

#sub05_saying {width:1280px; display: block; margin:0 auto; text-align:center;}
.sub05_01 {height:210px; background-image: url('img/sub05_saying_01.png'); background-repeat: no-repeat; background-position:center; padding-top:60px; padding-bottom:90px; text-align: center;}
.sub05_text_01 {font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:23px; padding-top:100px;}
.sub05_01_text {width:700px; color:#D9C9C7; text-align:center; margin:0 auto; font-weight:400; font-family: 'Noto Sans KR', sans-serif; font-size:23px; background-color:#193C40; margin-top:30px;}

.sub05_02 {height:210px; background-image: url('img/sub05_saying_02.png'); background-repeat: no-repeat; background-position:center; padding-top:60px; padding-bottom:90px; text-align: center;}
.sub05_text_02 {font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:23px; padding-top:110px;}
.sub05_02_text {width:860px; color:#193C40; text-align:center; margin:0 auto; font-weight:400; font-family: 'Noto Sans KR', sans-serif; font-size:23px; margin-top:30px;}
.sub05_02_text_re {background-color:#193C40; color:#D9C9C7; font-family: 'Noto Sans KR', sans-serif; font-size:23px; width:250px; text-align:center; margin:0 auto;}

.sub05_03 {height:210px; background-image: url('img/sub05_saying_03.png'); background-repeat: no-repeat; background-position:center; padding-top:60px; padding-bottom:90px; text-align: center;}
.sub05_text_03 {font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:23px; padding-top:110px;}
.sub05_03_text {width:730px; color:#193C40; text-align:center; margin:0 auto; font-weight:400; font-family: 'Noto Sans KR', sans-serif; font-size:23px; margin-top:30px;}
.sub05_03_text_re {background-color:#193C40; color:#D9C9C7; font-family: 'Noto Sans KR', sans-serif; font-size:23px; width:390px; text-align:center; margin:0 auto;}

.sub05_04 {height:275px; background-image: url('img/sub05_saying_04.png'); background-repeat: no-repeat; background-position:center; padding-top:60px; padding-bottom:90px; text-align: center;}
.sub05_text_04 {font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:23px; padding-top:140px;}
.sub05_04_text {width:750px; color:#193C40; text-align:center; margin:0 auto; font-weight:400; font-family: 'Noto Sans KR', sans-serif; font-size:23px; margin-top:30px;}
.sub05_04_text_re {background-color:#193C40; color:#D9C9C7; font-family: 'Noto Sans KR', sans-serif; font-size:23px; width:590px; text-align:center; margin:0 auto;}

.sub05_05 {height:210px; background-image: url('img/sub05_saying_05.png'); background-repeat: no-repeat; background-position:center; padding-top:60px; padding-bottom:90px; text-align: center;}
.sub05_text_05 {font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:23px; padding-top:110px;}
.sub05_05_text {width:500px; color:#D9C9C7; text-align:center; margin:0 auto; font-weight:400; font-family: 'Noto Sans KR', sans-serif; font-size:23px; background-color:#193C40; margin-top:30px;}

.sub05_06 {height:210px; background-image: url('img/sub05_saying_06.png'); background-repeat: no-repeat; background-position:center; padding-top:60px; padding-bottom:100px; text-align: center; margin-bottom:100px;}
.sub05_text_06 {font-family: 'Noto Sans KR', sans-serif; color:#193C40; font-size:23px; padding-top:110px;}
.sub05_06_text {width:280px; color:#D9C9C7; text-align:center; margin:0 auto; font-weight:400; font-family: 'Noto Sans KR', sans-serif; font-size:23px; background-color:#193C40; margin-top:30px;}


footer {
  width:100%;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #193C40;
  background-image: url('img/copyright.png');}
